@model ShopBanAlbum.Models.KhachHang

@{ 
    Layout = null;
}

<!DOCTYPE html>

<html style="height:100%">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ĐĂNG KÝ THÀNH CÔNG - THE ALBUM SHOP</title>
    <link rel="icon" href="~/Contents/images/icon.png" />
    <link href="~/Contents/css/layout.css" rel="stylesheet" />
    <link href="~/Contents/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            margin: 0;
        }

        section {
            margin-top: 30px;
            text-align: center;
        }

        .message {
            font-weight: 900;
            font-size: 52px;
        }

        .wrapper {
            height: 100vh;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body style="background-color:#03254c;height:100%;padding-bottom:0;font-family: 'Coiny', cursive;">
    <div class="wrapper">
        <div class="container">
            <section class="message">
                <h1 style="color:yellow;font-size:42px">THE ALBUM SHOP</h1>
                <div style="margin:20px 0">
                    <h2 style="color:white">Chúc mừng <span style="color:hotpink">@Model.TenKhachHang</span> đã đăng ký tài khoản thành công!</h2>
                    <h3 style="color:white">ĐẾN TRANG <a onclick="window.location.href='@Url.Action("DangNhap", "KhachHangs")'" style="margin-left:5px;border-radius:10px;background-color:aquamarine;padding:0px 10px;padding-top:8px">ĐĂNG NHẬP</a></h3>
                    <h4 align="center"><button class="gohome" onclick="window.location.href='@Url.Action("Index", "Home")'">Trở về trang chủ</button></h4>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
