<div class="col-lg-2" style="padding-top:10px;margin-bottom:10px;padding-left:0px" align="right">
    <a href="@Url.Action("ShowToCart","Cart")" style="text-decoration: none;">
        <span class="cart">
            <span class="cart1">
                <span style="margin:0 3px;margin-right:5px;color:#bed3ea">Giỏ hàng</span>
                <span class="cartnumber">@ViewBag.QuantityCart</span>
            </span>
        </span>
    </a>
</div>